<!--INICIO DO CONTEUDO-->
<section class="content-header">
</section>

<section class="content">
  <section class="invoice">

        <form [formGroup]="orderForm" novalidate>
          <div class="row">
            <div class="col-xs-12">
              <h2 class="page-header">
                <i class="fa fa-shopping-cart"></i> Finalize o seu pedido
              </h2>
            </div>
          </div>                

          <div class="row invoice-info">
            <div class="col-xs-12 col-sm-9">
              <p class="lead">Dados do cliente:</p>
            </div>
            <div class="col-xs-12 col-sm-3">
              <p>
                <span class="help-block pull-right has-error-block" *ngIf="orderForm.hasError('emailNotMatch')">
                  <i class="fa fa-remove"></i> Emails não conferem
                </span>
              </p>
            </div>
            <div class="col-sm-6 col-xs-12">
              <mt-input label="Nome" messageError="Nome obrigatório com no mínimo 5 caracteres">
                <input type="text" formControlName="name" autocomplete="off"
                  class="form-control" placeholder="Nome">
              </mt-input>
            </div>
            <div class="col-sm-3 col-xs-6">
              <mt-input label="Email" messageError="Email obrigatório">
                <input type="text" formControlName="email" autocomplete="off"
                  class="form-control" placeholder="Email">
              </mt-input>
            </div>
            <div class="col-sm-3 col-xs-6">
              <mt-input label="Confirmação do email"  messageError="Email obrigatório">
                <input type="text" formControlName="emailConfirmation" autocomplete="off"
                  class="form-control" placeholder="Confirmação do email">
              </mt-input>
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->

          <div class="row invoice-info">
            <div class="col-xs-12">
              <p class="lead">Endereço de Entrega:</p>
            </div>
            <div class="col-sm-6 col-xs-12">
              <mt-input label="Endereço" messageError="Endereço obrigatório com no mínimo 5 caracteres">
                <input type="text" formControlName="address" autocomplete="off"
                  class="form-control" placeholder="Endereço">
              </mt-input>
            </div>
            <div class="col-sm-3 col-xs-6">
              <mt-input label="Número" messageError="Obrigatório e apenas números">
                <input type="text" formControlName="number" autocomplete="off"
                  class="form-control" placeholder="Número">
              </mt-input>
            </div>
            <div class="col-sm-3 col-xs-6">
              <mt-input label="Complemento">
                <input type="text" formControlName="optional" autocomplete="off"
                  class="form-control" placeholder="Complemento">
              </mt-input>
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->

          <!-- Table row -->
          <div class="row">
            <div class="col-xs-12">
              <p class="lead">Itens do Pedido:</p>
            </div>
            
            <mt-order-items 
              [items]="cartItems()"
              (increaseQty)="increaseQty($event)"
              (decreaseQty)="decreaseQty($event)"
              (removeItem)="removeItem($event)">
            </mt-order-items>
            
            <!-- /.col -->
          </div>
          <!-- /.row -->

          <div class="row">
            <!-- accepted payments column -->
            <div class="col-sm-6 col-xs-12">
              <p class="lead">Formas de Pagamento:</p>
              <div class="form-group">
                  <mt-radio [options]="paymentOption" formControlName="paymentOpt"></mt-radio>
              </div>
            </div>
            <!-- /.col -->
            <div class="col-sm-6 col-xs-12">
              <p class="lead">Frete e Total:</p>
              <mt-delivery-costs
                [itemsValue]="itemsValue()" 
                [delivery]="delivery"></mt-delivery-costs>
            </div>
            <!-- /.col -->
          </div>

        <div class="row">
          <div class="col-xs-12">
            <button (click)="checkOrder(orderForm.value)" [disabled]="!orderForm.valid || cartItems().length === 0"
             class="btn btn-success pull-right"><i class="fa fa-credit-card"></i> Concluir Pedido
          </button>
          </div>
        </div>

        
      </form>

    </section>
</section>
<!-- FIM DO CONTEUDO-->